<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin profile</title>
    <th:block th:insert="fragments/header :: head" />
</head>

<body class="main-body">

<header>
    <th:block th:insert="fragments/header :: main-header" />
</header>

<nav th:insert="fragments/adminMenu :: adminMenu" />

<main>
    <div class="profile-wrapper">
        <h1>Admin profile</h1>
        <hr/>

        <table th:object="${user}" id="profile" class="music-text-inform">
            <tr>
                <th><img src="#" align="absmiddle" ></th>
                <th><h2>User name</h2></th>
                <th><h2 th:text="*{username}"></h2></th>
            </tr>
            <tr>
                <th><img src="#" align="absmiddle" ></th>
                <th><h2>Users amount</h2></th>
                <th><h2 th:text="${usersAmount}"></h2></th>
            </tr>
            <tr>
                <th><img src="#" align="absmiddle" ></th>
                <th><h2>Ads amount</h2></th>
                <th><h2 th:text="${adsAmount}"></h2></th>
            </tr>
            <tr>
                <th><img src="#" align="absmiddle" ></th>
                <th><h2>Devices amount</h2></th>
                <th><h2 th:text="${devicesAmount}"></h2></th>
            </tr>
        </table>
    </div>
</main>

</body>
</html>